.contact-heroimg {
  width: 65%;
}

.contactus-form {
  background: linear-gradient(to top, #02052b, #291663);
  border-radius: 30px;
}

.contact-title {
  color: white !important;
  font-family: var(--font);
  font-size: 1.5rem;
}
.contact-icons {
  width: 100px;
}
.contact-para {
  color: var(--text);
}

.location p {
  margin-top: 0;
  margin-bottom: 2rem;
}
label {
  color: white;
  font-size: .8rem;
  font-family: var(--font);
}
.form-control , .form-select{
  width: 90%;
  padding: 0.6rem 0.7rem !important;
  border-radius: 15px !important;
  font-size:.8rem !important;
  outline:none;
  border:none !important;
}

.form-group {
  margin-bottom: 0.5rem;
}
.spinner:hover {
  appearance: textfield !important;
  -webkit-appearance: none !important;
  -moz-appearance: textfield !important;
  -ms-appearance: textfield !important;
}

.spinner::-webkit-inner-spin-button,
.spinner::-webkit-outer-spin-button {
  display: none;
}
textarea {
  height: 170px;
}
/* .map{
  border:2px solid #291663;
  padding:0.5rem 3rem;
  border-radius:20px;
} */

 /* remove map css & apply same css to iframe removing padding to border */
  iframe{
    border: 4px groove  #602bfe !important;
    border-radius: 20px;
  }
