.hero-section {
  position: relative;
  padding: 1rem;
}

.wave-hero {
  position: absolute;
  left: 0;
}

.hero-img {
  z-index: 99;
}
.main-title{
  color: white;

  font-family: "Aclonica", sans-serif;
  font-size:var(--heading);
  font-style: normal;
  font-weight: 600;
  line-height: normal;

}

.title {
  color: white;

  font-family: "Aclonica", sans-serif;
  font-size: var(--heading);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.hero-content{
  z-index:99;
}

.linear-text {
  font-family: "Aclonica", sans-serif;
  background:var(--text-gradiant);
  -webkit-background-clip: text; /* For older browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For older browsers */
  text-fill-color: transparent;
  font-size: var(--heading);
}

.hero-content span {
  font-family: "Aclonica", sans-serif;
  background: var(--text-gradiant);
  -webkit-background-clip: text; /* For older browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For older browsers */
  text-fill-color: transparent;
font-size:var(--heading);
}
.sub-title {
  color: white;
  font-family: "Aclonica", sans-serif;
  font-size: var(--heading);
  font-style: normal;
  line-height: normal;
}
.para-content {
  color: var(--text);
  font-size: 15px;
  font-family: "Poppins", sans-serif;

  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
