.about-us-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-heading {
  color: white;
  font-family: var(--font);
  font-size: var(--heading);
  padding: 0.9rem !important;
}
.color-title {
  font-family: var(--font);
  background: var(--text-gradiant);
  -webkit-background-clip: text; /* For older browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For older browsers */
  text-fill-color: transparent;
  font-size: var(--title) !important;
}

.main-sub-heading {
  color: white;
  font-family: var(--font);
  font-size: 1.4rem;
}
.main-paracontent {
  color: var(--text);
  text-align: center;
}

.crafted-solution {
  padding: 2rem 0rem;
}
.crafted-solution p {
  font-family: var(--font);
  font-size: var(--heading);
  font-weight: 600;
  border: 1px solid white;
  padding: 0rem 1rem;
  border-radius: 30px;

  font-family: var(--font);
  background: var(--text-gradiant);
  -webkit-background-clip: text; /* For older browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For older browsers */
  text-fill-color: transparent;
}
.services {
  position: relative;
  background: url("../assets/service-bg.png");
  background-size: cover;
  height: 800px;
  background-repeat: no-repeat;
  width: 100%;
}

.gradiant-bg {
  position: absolute;
  z-index: -1;
  width: 500px;
  left: 28%;
  top: 15%;
}
.bg-inner {
  position: relative;
}
.computer {
  width: 350px;
  height: 300px;
}
.mobile {
  width: 150px;
  position: absolute;
  left: -250px;
  bottom: 0;
}
.rocket {
  width: 150px;
  position: absolute;
  left: -225px;
  bottom: 257px;
}
.setting {
  width: 140px;
  position: absolute;
  left: 130px;
  bottom: 370px;
}

.pen {
  width: 180px;
  position: absolute;
  left: 400px;
  bottom: 257px;
}
.laptop {
  width: 180px;
  position: absolute;
  right: -280px;
  bottom: 0;
}
.learn-more {
  color: var(--text);
  font-size: 1rem;
}
.digital-excellence {
  position: relative;
  margin-top: -4rem;
}

.implements .text h4 {
  font-size: 1rem;
  
}
.implements .text{
  padding:15px;
}
.digital-wave {
  width: 100%;
  position: absolute;
  top: -90px;
  z-index: -1;
}
.boy-setting {
  width: 100%;
}
.excellence {
  color: white;
  font-family: var(--font);
  font-size: 2.5rem;
}
.ex-para {
  color: var(--text);
  font-family: "Poppins", sans-serif;
  text-align: justify;
}

.cards {
  background: var(--card-gradiant);
  margin: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
.cards .number span {
  color: white;
  font-size: 3rem;
  font-family: var(--font);
}
.cards-text {
  color: white;
  font-family: var(--font);
  font-size: 0.9rem;
}

.blog-cards {
  position: relative;
  width: 100%;
  height: 250px !important;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.blog-cards:hover img {
  transform: translateY(-100px);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.blog-cards_content {
  position: absolute;
  top: 56%;
  left: 0%;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: var(--background);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  transform: translateY(54%);
}

.blog-cards:hover .blog-cards_content {
  transform: translateY(0%);
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.blog-cards__title {
  margin: 0;
  font-size: 13px;
  color: #fff !important;
  font-weight: 700;
}

.blog-cards__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: white !important;
  line-height: 1.4;
}

.blog-container {
  display: flex;
  flex-basis: auto;
  flex-wrap: wrap;
  gap: 1rem;
}

.contact-card {
  border-radius: 20px;
  border: 2px solid #a9a7a7a8;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 3.5rem;
  margin: 1rem 0rem;
}

.number {
  margin: 0.5rem 0rem;
}
.icons {
  background-color: rgba(217, 217, 217, 0.4);
  color: #fff;
  border-radius: 50%;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-number {
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0px;
  font-size: 1rem;
}
.ring {
  width: 50px;
  animation: Zoom 3s linear infinite;
}
.ring-icon {
  position: absolute;
  left: 182px;
  top: -34px;
}
.phone-icons {
  background-color: #004487;
  color: white;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 164px;
  top: -36px;
}

.card-content p {
  color: var(--text);
  font-family: "Poppins", sans-serif;
  font-size: 15px;
}

.client {
  background: var(--card-gradiant);
  padding: 0.5rem 1rem;
  border-radius: 30px;
  /* box-shadow: 1px 1px 19px 3px #3e3e3ed9; */
  font-size: var(--heading);
}
.clients {
  background: var(--card-gradiant);
  padding: 8px 20px;
  border-radius: 30px;
  /* box-shadow: 1px 1px 19px 3px #3e3e3ed9; */
}
.about-us-content {
  position: relative;
}
.client:after {
  content: "";
  position: absolute;
  left: 0;
  top: 83px;
  width: 100%;
  height: 3px;
  background: var(--text-gradiant);
  z-index: -1;
}

.slider-header {
  border-radius: 20px;
  background: #e7e7e8;

  width: 357px !important;
}
.partner-header img {
  width: 150px;
}

.slider-inner h5 {
  color: #1e1e1e;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.slider-inner p {
  color: #b8b8b8;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.slick-track {
  display: flex !important;
  align-items: center !important;
}

.client-title {
  font-family: var(--font);
  background: var(--text-gradiant);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-fill-color: transparent;
  font-size: var(--heading);
}

.client-card {
  background: var(--card-gradiant);
  padding: 2rem;
  border-radius: 20px;
  position: relative;
  height: 470px;
}
.client-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-name {
  font-family: var(--font);
  background: var(--text-gradiant);
  -webkit-background-clip: text; /* For older browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For older browsers */
  text-fill-color: transparent;
  font-size: 1.3rem;
  margin-top: 1rem;
}


.client-card-content p {
  margin-bottom: 0.3rem !important;
}
.client-company {
  color: white;
  font-size: 1rem;
}
.client-review {
  color: white;
  text-align: justify;
  font-size: 0.9rem;
  margin-top: 1rem;
}
.rating a img{
  width:30px;
  height:30px;
  margin:.5rem;
}
.test-monial {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 3px solid #602bfe;
  padding: 0.3rem;
}
.slick-slide div {
  margin: 0rem 1rem;
}
.news-letter {
  background: var(--text-gradiant);
  padding: 4rem;
  border-radius: 20px;
}
.news-title {
  color: white !important;
  font-family: var(--font);
  font-size: 2rem;
}
.news {
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.news-para {
  color: white !important;
  font-size: 1.2rem;
}
.news-input {
  padding: 8px 15px;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 55%;
}
.subscribe-btn {
  background: linear-gradient(to right, #ff7e05, #ffca51) !important;
  color: white;
  padding: 5px 10px;
  font-family: "Poppins", sans-serif;
  border: 3px solid #9c7ef7;
  border-radius: 20px !important;
  outline: none;
  margin: 0rem 0.2rem;
}

.new-gradiant {
  width: 250px;
}
.right-col {
  position: relative;
}
.news-rocket {
  position: absolute;
  right: 0;
  top: -145px;
  width: 670px;
}

.implements {
  color: white;
  background: var(--card-gradiant);
  border-radius: 30px;
  padding: 10px;
  display: flex;
  align-items: center;
}
.num {
  border: 1px solid white;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.text h4 {
  background: var(--text-gradiant);
  -webkit-background-clip: text; /* For older browsers */
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For older browsers */
  text-fill-color: transparent;
  font-weight: bold;
  font-size: 2rem;
}
.text p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* all icon animation */
.rocket {
  animation: upDown 2s linear infinite; /* Adjust the duration and timing function as needed */
}
.pen {
  animation: upDown 2s linear infinite; /* Adjust the duration and timing function as needed */
}
.mobile {
  animation: rotates 3s linear infinite; /* Adjust the duration and timing function as needed */
}
.laptop {
  animation: rotates 3s linear infinite; /* Adjust the duration and timing function as needed */
}
.hero-img {
  animation: side 3s linear infinite; /* Adjust the duration and timing function as needed */
}

@keyframes Zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(0deg);
  }
}

@keyframes rotates {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes side {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(25px);
  }
  100% {
    transform: translateX(0deg);
  }
}
