.modal-header svg {
  color: white !important;
  font-size: 1.5rem;
  font-weight: 500;
  cursor: pointer;
}
.step-container img {
  width: 35%;
}
.modal-btn {
  background: linear-gradient(to right, #602bfe, #dbc4ff);

  padding: 6px 10px;
  border-radius: 20px !important;
  outline: none;
  border: none;
  color: white;
}
.modal-header {
  padding:1rem;
}

.step-container p,
h4 {
  color: #fff;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.step-container p span {
  font-size: 30px;
  font-weight: 700;
}


/* .select-btn {
  background-color: white;
  border: none;
  width: 250px;
  outline: none;
  margin: 10px;
  padding: 8px 10px;
  border-radius: 20px;
  font-family: var(--font);
  border:3px solid ;

}
.selected{
    color:#602bfe;
    border:3px solid #602bfe;
} */

.step-container label {
    font-size:1rem;
}

.radio-group {
    display: flex;
    flex-direction: column;
  }
  
  .radio-label {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    width: 250px;
    outline: none;
    margin: 10px;
    padding: 8px 10px;
    border-radius: 20px;
    font-family: var(--font);
    color:black;
  }
  
  
  
  .radio-input {
    position: absolute;
    opacity: 0;
  }
  
  .radio-input:checked + .radio-label {
    border-color: #602bfe;
    color:#602bfe;
  }
  
  .radio-input:focus + .radio-label {
    outline: 2px solid #602bfe;
  }
  
  .radio-inner-circle {
    display: none;
    width: 1em;
    height: 1em;
    border-radius: 50%;
    margin-right: 0.5em;
    transition: border-color 0.2s;
    position: relative;
  }


