.portfolio-img {
  width: 50%;
}
.tab {
  color: white !important;
}
.tabs div div {
  /*justify-content: space-evenly;*/
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}



.portfolio-card {
  border-radius: 20px;
  background: linear-gradient(60deg, #070a29, #51495f);
  position: relative;
  padding: 1rem;
  transition: 0.5s ease-out;
  overflow: visible;
  margin: 1rem 0rem;
  width:350px;
}

.portfolio-card-details p {
  text-transform: uppercase;
  font-size: 0.8rem;
  text-align: center !important;
  margin: 0.4rem 1rem;
  font-weight: 600;
  color: white;
}
.port-img {
  width: 100%;
}

.card-button {
  transform: translate(-50%, 125%);

  border-radius: 1rem;
  border: none;
  color: #fff !important;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0;
  transition: 0.3s ease-out;
  background: linear-gradient(to right, #602bfe, #dbc4ff);

  font-family: var(--font) !important;
  outline: none;
}

.text-body {
  color: rgb(134, 134, 134);
}

/*Text*/
.text-title {
  font-size: 1.5em;
  font-weight: bold;
}

/*Hover*/
.portfolio-card:hover {
  border-color: #008bf8;
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

.portfolio-card:hover .card-button {
  transform: translate(-50%, 50%);
  opacity: 1;
}

.Mui-selected {
  background: white !important;
  color: #5c27fe !important;
}

.css-1aquho2-MuiTabs-indicator {
  height: 0px !important;
}

.react-photo-gallery--gallery div {
  gap: 2rem;
  justify-content: center;
}
.react-photo-gallery--gallery div img {
  width: 30%;
  border-radius: 10px;
}

.logo-slide .react-photo-gallery--gallery div img {
  width: 20%;
  border-radius: 10px;
}

/* code for mobile frame carousel */

.banner_slider {
  display: flex;
  position: relative;
}
.banner_slider .slick-slide div {
  margin: 0rem 0rem !important;
}

/* hero slider mobile frame */
.banner_slider .slider_frame {
  position: absolute;
  z-index: 999;
  width: 226px;
}

.slider_img img {
  width: 100%;
  border-radius: 30px;
}

.banner_slider #frmae_slider {
  width: 220px;
}
.banner_slider .slick-list {
  border-radius: 30px;
}
