@import url("https://fonts.googleapis.com/css2?family=Aclonica&family=Inter&family=Poppins&display=swap");
:root {
  --background: #070a29;
  --title: #082f53;
  --text: #aeaeae;
  --font: "Aclonica", sans-serif;
  --light-theme: #fff;
  --light-theme-title: #082f53;
  --light-theme-color: #082f53;
  --heading:1.5rem;
  --title:1.5rem;
  --text-gradiant:linear-gradient(to right, #602bfe, #dbc4ff);
  --card-gradiant:linear-gradient(to top, #070a29, #51495f);
}

* {
  font-family: "Poppins", sans-serif;
}
#root{
  overflow: hidden;
}

.dark-theme {
  background-color: var(--background) !important;
}
button {
  background: linear-gradient(to right, #602bfe, #dbc4ff);
  color: white;
  padding: 8px 15px;
  font-family: var(--font) !important;
  border: 1px solid #9c7ef7;
  border-radius: 25px !important;
  outline: none;
}

/* code for header start */

.page-title__body {
  background: linear-gradient(
    89.96deg,
    rgba(255, 255, 255, 0.05) 0.03%,
    rgba(255, 255, 255, 0.008) 49.67%,
    rgba(255, 255, 255, 0.05) 99.96%
  );
  backdrop-filter: blur(2px);
  border-radius: 26px;
  padding: 16px;
}
.page-title__main {
  background: linear-gradient(264.28deg, #dec7ff -38.2%, #5c27fe 103.12%),
    linear-gradient(
      89.96deg,
      rgba(255, 255, 255, 0.05) 0.03%,
      rgba(255, 255, 255, 0.008) 49.67%,
      rgba(255, 255, 255, 0.05) 99.96%
    );
  backdrop-filter: blur(2px);
  border-radius: 26px;
  padding: 70px;
  text-align: center;
}
.page-title__main .bottom {
  padding-top: 35px;
  margin-top: 30px;
  position: relative;
}
.page-title__main .bottom::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  right: 50%;
  transform: translate(-50%, -50%);
  height: 1px;
  width: 96px;
  background: rgba(255, 255, 255, 0.1);
}
.page-title__main .bottom p {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
  margin-bottom: 10px;
}
.page-title__main .bottom .list-social {
  margin-top: 0;
}
.breacrumb {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.breacrumb li {
  margin: 0 16px;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  font-family: "Readex Pro";
}
.breacrumb li a {
  font-weight: 300;
  font-size: 14px;
  color: #c2c3c5;
  font-family: "Readex Pro";
}

/* code for header end */

/*   Scroll Bar start */
::-webkit-scrollbar-track {
  background: #70505029;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(
    43deg,
    #dac3ff 0%,
    #9e79fe 46%,
    #602bfe 100%
  );
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 7px;
}

/*   Scroll Bar  End*/

/* code for Toggle theme button start */

.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  height: 23px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #602bfe;
  transition: 0.4s;
  border-radius: 30px;
  width:50px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  border-radius: 20px;
  left: 0px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: 0.4s;
}

.sun svg {
  position: absolute;
  top: 4px;
  left: 30px;
  z-index: 1;
  width: 18px;
  height: 18px;
}

.moon svg {
  fill: #73c0fc;
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 1;
  width: 20px;
  height: 20px;
}

/* .switch:hover */
.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */
.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}

/* code for loader */
.main-loading{
  display:flex ;
  height:100vh;
  align-items:center;
  justify-content: center;
}


.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  animation: rotate_3922 1.2s linear infinite;
  background-color: #183153;
  background-image: linear-gradient(#183153, #84cdfa, #5ad1cd);
}

.loader span {
  position: absolute;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  background-color: #9b59b6;
  background-image: linear-gradient(#602bfeb5, #84cdfa, #602bfeb5);
}

.loader span:nth-of-type(1) {
  filter: blur(5px);
}

.loader span:nth-of-type(2) {
  filter: blur(10px);
}

.loader span:nth-of-type(3) {
  filter: blur(25px);
}

.loader span:nth-of-type(4) {
  filter: blur(50px);
}

.loader::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  background-color: #fff;
  border: solid 5px #ffffff;
  border-radius: 50%;
}

@keyframes rotate_3922 {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

